body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  padding: 10px;
}

header, footer {
  text-align: center;
}

footer {
  margin-top: 8px;
  font-size: 11px;
  color: #666;
}

footer a {
  text-decoration: none;
}

header > h1 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 1px white;
}

.card {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(196, 196, 196, 0.33);
  display: grid;
  grid-template-columns: 1fr 3fr;
}

main {
  padding: 24px 12px 24px 24px;
}

aside {
  padding: 24px 24px 24px 12px;
}

section:not(:last-child) {
  margin-bottom: 16px;
}

section > div, aside > div {
  margin-bottom: 4px;
}

small {
  color: #404040;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre {
  overflow-x: scroll;
}

.highlight {
  background-color: yellow;
  border-radius: 2px;
  padding: 0 2px;
}

.matchHighlight {
  background-color: orange;
}

input[type="text"], textarea {
  font-size: 18px;
  box-sizing : border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 1px 3px 0 rgba(196, 196, 196, 0.33);
  padding: 3px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

textarea {
  resize: vertical;
}

a {
  color: #2d68f4;
  text-decoration: underline;
  cursor: pointer;
}
